<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navbar.ejs') %>

<main>

    <div class="centered">
        <p>
            Password reset link has been sent to your email address.
            Please check your email. If you don't see the email, please check your spam folder.
            Otherwise, please make sure you entered the correct email address (one you registered with).
        </p>
    </div>
</main>
<%- include('../includes/end.ejs') %>